body {
  margin: 0;
  padding: 0;
  background-color: #e3ffe7;
}


body h1, h2, h3, p, a {
  font-family: "Work Sans", sans-serif;
}

p.info-message {
  text-align: center;
  font-size: 1.5rem;
  padding-top: 0.6rem;
}

p.error-message {
  color: red;
  text-align: center;
  font-size: 1.5rem;
}



@media only screen and (min-width: 800px) {
  .content {
    padding: 3rem 1rem;
    margin: auto;
    background-color: #e3ffe7;
    height: 100%;
    max-width: 800px;
  }
}

@media only screen and (max-width: 800px) {
  .content {
    padding: 3rem 1rem;
    margin: auto;
    background-color: #08AEEA;
    /* background-image: linear-gradient(180deg, #08AEEA 0%, #2AF598 100%); */
    background: linear-gradient(0deg, #e3ffe7 0%, #d9e7ff 100%);
    height: 100%;
    max-width: 800px;
  }
}

.highlight {
  color: white;
}

.human-message {
  text-align: right;
}

.equal.with.fields {
  display: flex
}

.delete.icon {
  margin: auto
}

.botChatContainer {
  display: flex;
  padding: 0rem 1rem;
  flex-direction: column;
}

#messageHistory {
  padding: 1rem;
  background-color: white;
  height: 60vh;
  width: 100%;
  overflow: scroll;
}



/*navigation*/
.ui.Navbar {
  border-radius: 0px;
  margin: 0px;
}


.WelcomeContainer {
  display: flex;
  /* height: 100%; */
  background: linear-gradient(230deg, #08AEEA 0%, #2AF598 100%);
  background-size: 600% 600%;
  background-attachment: fixed;
  min-height: 95vh;
  animation: Gradient 10s ease infinite;
}
#WelcomeContent {
  margin: auto;
  padding: 1rem;
}
#WelcomeContent h1 {
  text-align: left;
}
h1 {
  font-size: 4rem;
  font-weight: 900;
  text-align: center;
}

.BotPage {
  padding: 2rem;
  background: linear-gradient(230deg, #08AEEA 0%, #2AF598 100%);
  background-size: 600% 600%;
  background-attachment: fixed;
  min-height: 100vh;
  animation: Gradient 10s ease infinite;
}
.Buttons {
  margin: auto;
}

.App {
  height: 100vh;
  padding-top: 41px;
  display: flex;
  flex-direction: column;
}

/*login and signup forms*/
.LoginSignup {
  min-height: 50%;
  display: flex;
  flex-direction: column;
  padding: 3rem;
}

.LoginSignup .container {
  width: 80%;
  max-width: 450px;
  margin: 0 auto;
}

.BotMakerContainer {
  padding: 1rem;
  max-width: 800px;
  margin: auto;
}

.UserPage h1{
  font-size: 3rem;
  /* text-align: center; */
}

.UserPage {
  padding: 1rem;
}

/*USER INFO PAGE*/
.shareLink .input {
  width: 100%;
}

.message-send {
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.ui.action.input input {
  border-radius: 0px;
}

.button-send input{
  border-radius: 0px;
}

/*animation*/
@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}