body {
  margin: 0;
  padding: 0;
  background-color: #21D4FD;
  background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
}

body h1, h2, h3, p, a {
  font-family: "Work Sans", sans-serif;
}

.bot-message {
  text-align: left;
  background: #889cbf;
}

.speech-bubble {
	position: relative;
	background: #01befd;
  border-radius: .2em;
  padding: 0.2em
}

.human-message.speech-bubble:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 8px solid transparent;
	border-left-color: #01befd;
	border-right: 0;
	border-top: 0;
	margin-top: -4px;
	margin-right: -8px;
}

.bot-message.speech-bubble:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-right-color: #01befd;
    border-left: 0;
    border-top: 0;
    margin-top: -4px;
    margin-left: -8px;
  }

.human-message {
  text-align: right;
}

.BotMakerContainer {
  padding: 1rem;
}

.botChatContainer {
  display: flex;
  padding: 1rem;
  flex-direction: column;
}

.messageHistory {
  /*margin: auto;*/
  padding: 1rem;
  background-color: white;
  border: 2px solid lightblue;
  border-radius: 2px;
  height: 50vh;
  min-width: 100%;
  overflow: scroll;
}



/*navigation*/
.ui.Navbar {
  border-radius: 0px;
}

.WelcomeContainer {
  display: flex;
  height: 80%;
}
#WelcomeContent {
  margin: auto;
  padding: 1rem;
}
#WelcomeContent h1 {
  font-size: 4rem;
  font-weight: 900;
}
.Buttons {
  margin: auto;
}

.App {
  height: 100vh;
}

/*login and signup forms*/
.LoginSignup {
  display: flex;
  min-height: 50%;
}

.LoginSignup form {
  margin: auto;
  /* width: 70%; */
}
